<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Agregar Productos | Lucas Trigo</title>
    </head>
    <body>
        <%- include('../partials/header') %>
        <h2>Agregar Producto</h2>
        <div class="formulario">
            <form action="/productos" method="POST">
                <label for="title">Título:</label> <br />
                <br />
                <input type="text" name="title" required /> <br />

                <br />
                <br /><label for="price">Precio:</label> <br />
                <br />
                <input type="text" name="price" required /> <br />

                <br />
                <br /><label for="thumbnail">Thumbnail:</label> <br />
                <br /><input type="text" name="thumbnail" required />

                <br />
                <br />
                <br />
                <button type="submit" class="styleBtn">
                    Agregar producto a la lista
                </button>
            </form>
        </div>

        <style>
            @import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                background-color: #1c0943;
                font-family: "DynaPuff", cursive;
                color: #ffffff;
            }

            h2 {
                display: flex;
                justify-content: center;
                position: relative;
                top: 180px;
                font-size: 2.5rem;
                color: pink;
            }

            label {
                font-size: 20px;
            }

            input {
                width: 100%;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #ffffff;
                padding-left: 10px;
                font-size: 20px;
            }

            .formulario {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 850px;
            }

            button {
                font-weight: 400;
                border: solid 2px black;
                outline: 0;
                padding: 1rem 4rem;
                font-size: 1.5rem;
                letter-spacing: 0.08rem;
                background-color: white;
                border-radius: 0.35rem;
                position: relative;
                cursor: pointer;
            }
            button::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: pink;
                z-index: -1;
                border-radius: 0.35rem;
                border: solid 2px black;
                transition: all 0.3s ease-in-out;
            }

            button.styleBtn::after {
                border: 0;
                box-shadow: 0px 0px 0px 2px black;
                top: 0.5rem;
                left: 0.5rem;
            }
            button.styleBtn:hover {
                background-color: pink;
                border: 0;
            }
            button.styleBtn:hover::after {
                background-color: black;
                box-shadow: none;
            }
        </style>

        <%- include('../partials/footer') %>
    </body>
</html>
