<footer>
    <hr />
    <span>
        Creado por,
        <a href="http://lucastrigo.com/" target="_blank">Lucas Trigo</a>
    </span>

    <style>
        a {
            color: pink;
            text-decoration: none;
        }
    </style>
</footer>
