<header>
    <nav>
        <a href="/">Cargar producto</a>
        <a href="/productos">Ver productos</a>
    </nav>
    <style>
        a {
            color: #ffffff;
            text-decoration: none;
        }

        nav {
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 35px;
        }
    </style>
</header>
