{{> head }}
<div class="container">

  {{> header}}
  <h3>Desafio Pug & Ejs</h3>

  <main>

    <div class="jumbotron">
      <h1> Utilizando Handle Bars</h1>
      <h2>
        {{title}}
      </h2>
    </div>

  </main>

  {{> footer}}

</div>